<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
		<!--<link rel="stylesheet" type="text/css" href="css/rockToSpock.css">-->
	</head>

	<body style="background-color:silver;" ng-app="metaNav">
		<div id="content" ng-controller="MainController">
			<script src="app/app.js"></script>
			<script src="app/controller.js"></script>
			<script type="text/javascript">
				function init(){
					$('#iframe').css('opacity', 0);
					$('#iframe').css('opacity', 1);
					$('#iframe').css('background-image', 'url(img/unloaded.png)');
					$('#iframe').css('background-position', 'center');					
				}	
				
				$(document).ready(function() {
				    $('.wsOnClick').click(function(e) {
				        e.preventDefault();
				        alert('You clicked the link.');
				        angular.element('#content').scope().urlToFile(this.href);
				        return false;
				    });
				});
			</script>
			
			<header style="width:100%; height: 40px; margin-top:5px;" >
				<h3 style="margin-left:15px;">{{title}}</h3>
				<div id="search" style="margin-top:-40px; margin-left: 38%; ">
					<input name="inputSite" type="text" ng-model="inputSite" placeholder="Type a URL or search it..." />
					<button ng-click="loadNewPage();">GO</button>
					<button ng-click="search();">Search</button>
					<a href="purpose.html" style="margin-right:-10%;">lightweight websites</a>
				</div>
			</header>
			
			<iframe id="iframe" srcdoc="{{website}}" onload="init();" 
				width="100%" height="90%" 
				allowtransparency="true"
				style="-webkit-transform:scale(0.98);-moz-transform-scale(0.5);" 
				sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-top-navigation allow-scripts"  
			>			
			</iframe>
	
		</div>
		
		
	</body>

</html>
